<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="css/memory.css" rel="stylesheet">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    <title>Summary | Memory Game</title>
</head>

<body class="summary">
    <div class="container">
        <div class="row">
            <div class="col"></div>
            <div class="col-8">
                <h3 class="score-heading"> Your score: <span id="player-cur-score"></span></h3>
                <form>
                    <div class="form-group">
                        <input type="text" class="form-control" id="player-name" placeholder="Harry Truman">
                    </div>
                    <button type="submit" class="btn btn-primary" onclick="onScoreSubmit(event)">Submit</button>
                </form>
                <button type="button" class="btn btn-info" id="restart-game" onclick="onRestartClick(event)">
                    Restart
                </button>
            </div>
            <div class="col"></div>
        </div>
    </div>
    <script src="./js/Board.js"></script>
    <script src="./js/score.js"></script>
    <script src="./js/boardUtil.js"></script>
</body>

</html>