body {
    background-color: #705045;
}

.info-bar {
    width: 100%;
    height: auto;
}

.info-bar-table {
    float: right;
    border-collapse: separate;
}

#tiles-label, #trials-label, #score-label {
    background-color: rgba(255, 255, 255, 0.5);
    color: #49332b;
    width: fit-content;
    padding: 0.15em 0.5em;
}

.game-board {
    width: 100%;
    margin-top: 20%;
}

#game-table {
    margin: auto;
    border-collapse: separate;
    border: 0.75em solid #3f190c;
}

.game-table-element {
    background-color: #705045;
    border: 1px solid #3f190c;
    color: #705045;
}

.game-table-button {
    width: 100%;
    padding: 1.5em;
}

.action-bar {
    margin-top: 20%;
    text-align: center;
}

.highlighted {
    background-color: #66FDEA;
}

.spun-game-table {
    transition: 1s;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -ms-transition: 1s;
    -o-transition: 1s;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}